body {
  background: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


body > section {
  flex: 1 0 auto;
}

.toggle-content {
  display: none;
}

.toggle-content.is-visible {
  display: block;
}

.toggle-form {
  height: 0;
  overflow: hidden;
}

.toggle-form.is-visible {
  height: auto;
  overflow: auto;
}

.button {
  font-weight: 600;
}

input[type="number"] {
  width: auto;
}

.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
  opacity: .4;
}
.spinner::after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




@media screen and (max-width: 768px) {
  .media-left p.image.is-128x128 {
      width: 100%;
      height: auto;
      max-width: 80vh;
      margin: 0 auto;
  }
}

@media screen and (min-width: 769px), print {
  .field-body {
      flex-grow: 3;
  }
}