body {
  background: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


body > section {
  flex: 1 0 auto;
}

.toggle-content {
  display: none;
}

.toggle-content.is-visible {
  display: block;
}

input[type="number"] {
  width: auto;
}

@media screen and (min-width: 769px), print {
  .field-body {
      flex-grow: 3;
  }

}