
  <h2 class="is-size-4 title">Subscribe to a podcast from the beginning</h2>
  <p class="is-size-6 subtitle">You will just need to provide us the address of an iTunes podcast or of a podcast feed, some SoundCloud addresses also work</p>
  <p class="">This service is in beta. Please proceed accordingly <small>(if the data is not exactly how you expect it to be, it might be because of a bug, tell me all about bugs on <a href="https://github.com/joachimesque/Cast-Rewinder">Github: Cast Rewinder</a> by opening an issue, or send me an email at <a href="mailto:hello@rewind.website">hello@rewind.website</a>)</small>.</p>
  <hr>
