
  <h2 class="is-size-4 title">Abonne-toi à un podcast depuis le début</h2>
  <p class="is-size-6 subtitle">Il y a juste besoin de nous fournir l’adresse d’un podcast, ou de sa page iTunes. Certaines adresses SoundCloud marchent aussi.</p>
  <p class="">Ce service est en version beta. Tout ne marche pas encore très bien <small>(Si les données ne sont pas exactement comme prévu, c’est peut-être dû à un bug. Si tu en croises, n’hésite pas à me prévenir sur <a href="https://github.com/joachimesque/Cast-Rewinder">Github: Cast Rewinder</a> en ouvrant une <em>issue</em>, ou bien envoie un email à <a href="mailto:hello@rewind.website">hello@rewind.website</a>)</small>.</p>
  <hr>
