{% extends 'layout.html' %}

{% block title %}🚧 Page not found!{% endblock %}

{% block header %}
  <h1 class="title">🚧 404, Page not found!</h1>
  <p class="subtitle is-size-4">
    <a href="{{ url_for('index') }}">Home</a> ·
    <a href="{{ url_for('about') }}">About</a> ·
    <a href="{{ url_for('about_api') }}">API</a>
  </p>
{% endblock %}

{% block content %}

  <p>The page you were looking for was not found. If you clicked somewhere that led you here, we’re sorry! I hear there’s many interesting things on the <a href="{{ url_for('index') }}">homepage</a></p>
  <p>On the other hand, if you were nosing around, well, there’s nothing to see here.</p>

{% endblock %}