{% extends 'layout.html' %}

{% block title %}🚧 Server error!{% endblock %}

{% block header %}🚧 500, Server error!{% endblock %}

{% block content %}

  <p>There’s been an error, we’re sorry about that. You can go back to the <a href="{{ url_for('index') }}">homepage</a>, or you can tell us about how the errors happened, by <a href="https://github.com/joachimesque/Cast-Rewinder/issues">opening an issue on the GitHub page for Cast Rewinder</a>, or by sending an email at <a href="mailto:hello@rewind.website">hello@rewind.website</a>.</p>

{% endblock %}