{% extends 'layout.html' %}

{% block title %}À propos{% endblock %}

{% block content %}
<div class="content">
    <h2 class="is-size-4 title"><a href="{{ request.host_url }}">{{ request.host }}</a> fait tourner Cast Rewinder, qui te permet de t’abonner à un podcast depuis le début.</h2>

    <p class="is-size-5">De temps en temps, je découvre un podcast qui a l’air super, mais qui publie des épisodes depuis tellement longtemps que l’idée de tout écouter depuis le début est intimidante.</p>
    <p class="">Maintenant, avec Cast Rewinder sur <a href="{{ request.host_url }}">{{ request.host }}</a>, tu peux t’abonner à ce podcast et recevoir des épisodes en partant du début. Tu décides de la fréquence (mensuel, hebdo, quotidien… ou tu décides de jours précis de la semaine) ainsi que d’autres options, comme le format du flux ou à partir de quel épisode tu commences.</p>
    <p class=""><a href="{{ url_for('index') }}">Rends-toi sur le formulaire</a>, entre l’adresse du flux, ou une adresse iTunes ou SoundCloud, et reçois les épisodes de ce podcast depuis le début !</p>
    <p class="">L’idée originale vient de Brendan Hutchins, du podcast <a href="http://bitratepod.com/">Bitrate</a>, dans son <a href="http://bitratepod.com/e/365db62d09d690/">épisode du 29 juin 2018</a>. Merci pour l’inspiration !</p>
    <p class="">L'application Cast Rewinder, écrite en Python, et qui fait tourner ce site web, a été développée par Joachim Robert sur son temps libre, et est distribué sous une licence de logiciel libre. Cette licence te permet de lire le code, le copier, apprendre des choses et le partager, gratuitement. Tu peux contacter l’auteur sur <a href="https://github.com/joachimesque/Cast-Rewinder">Github: Cast Rewinder</a>, lui envoyer un email à <a href="mailto:hello@rewind.website">hello@rewind.website</a>.</p>
</div>
{% endblock %}
