{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block header %}
  <h1 class="title is-size-2">{{ config['WEBSITE_NAME'] }}</h1>
  <p class="subtitle is-size-4">
    <a href="{{ url_for('index') }}">Home</a> ·
    About ·
    <a href="{{ url_for('about_api') }}">API</a>
  </p>
{% endblock %}

{% block content %}
<div class="content">
    <h2 class="is-size-4 title"><a href="{{ request.host_url }}">{{ request.host }}</a> runs Cast Rewinder, which allows you to subscribe to a podcast from the beginning.</h2>

    <p class="is-size-5">Every so often I discover a podcast that sounds really great, but it has been publishing episodes for so long that it’s a chore to go back at the beginning.</p>
    <p class="">Now with Cast Rewinder on <a href="{{ request.host_url }}">{{ request.host }}</a> you can subscribe to that podcast and get updates, starting from the beginning. You can set the frequency (monthly, weekly, daily… and even on specified days of the week) and other options, like the feed format or at which episode in the feed to start your discovery.</p>
    <p class=""><a href="{{ url_for('index') }}">Go to the form</a>, enter the URL for a feed or an iTunes address, and start receiving that podcast from the beginning!</p>
    <p class="">The python app Cast Rewinder, which powers this website, was developed by Joachim Robert in his spare time, and released under a free software license. It allows you to read the code, copy it, learn from it and share it, for free.</p>
</div>
{% endblock %}
