{% extends 'layout.html' %}

{% block title %}The API{% endblock %}

{% block content %}
<div class="content">
    <h2 class="is-size-4 title">Cast Rewinder has a small API.</h2>
    
    <p class="is-size-5">For all of you developers out there, there's a small RESTful API you can access via GET and POST methods.</p>

    <h3>GET</h3>
    <p>The API endpoint is <a href="{{ request.host_url }}api/get">{{ request.host }}/api/get</a>, here’s all the arguments you can pass:</p>
    <ul>
        <li><code>url</code> <small><strong>required</strong>, the URL for a feed, or the URL for an iTunes or SoundCloud podcast page</small></li>
        <li><code>frequency</code> <small>accepts values:</small>
            <ul>
                <li><code>monthly</code></li>
                <li><code>weekly</code> <small>default value</small></li>
                <li><code>daily</code></li>
                <li><code>custom_days</code></li>
            </ul>
        </li>
        <li><code>start_date</code> <small>accepts dates values, defaults to today, format `YYYY-MM-DD`</small></li>
        <li><code>start_date_timezone</code> <small>accepts timezone values, in the form of a TZ name, as defined in the <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones">official list of tz database time zones</a>. E.g. <code>America/Los_Angeles</code> or <code>Europe/Isle_of_Man</code> (spaces in the name are replaced by “_”) defaults to “Etc/UTC”, or +00:00</small></li>
        <li><code>option_limit</code> <small>accepts positive integers, defaults to 1</small></li>
        <li><code>option_order</code> <small>accepts values:</small>
            <ul>
                <li><code>asc</code> <small>default value</small></li>
                <li><code>desc</code></li>
            </ul>
        </li>
        <li><code>option_format</code> <small>accepts values:</small>
            <ul>
                <li><code>feed_rss</code> <small>default value</small></li>
                <li><code>feed_atom</code></li>
            </ul>
        </li>
    </ul>

    <p>If <code>frequency</code> has the value <code>custom_days</code>, you have to provide an argument for each selected day, a failure to do so results in a stern warning and defaults the frequency to weekly.</p>
    <ul>
        <li><code>custom_day_mon=y</code> for publication on mondays</li>
        <li><code>custom_day_tue=y</code> for publication on tuesdays</li>
        <li><code>custom_day_wed=y</code> for publication on wednesdays</li>
        <li><code>custom_day_thu=y</code> for publication on thursdays</li>
        <li><code>custom_day_fri=y</code> for publication on fridays</li>
        <li><code>custom_day_sat=y</code> for publication on saturdays</li>
        <li><code>custom_day_sun=y</code> for publication on sundays</li>
    </ul>

    <p>Here’s a couple of examples:</p>
    <ul>
        <li>Basic request: <a href="{{ request.host_url }}api/get?url=https://itunes.apple.com/us/podcast/99-invisible/id394775318">{{ request.host }}/api/get?url=https://itunes.apple.com/us/podcast/99-invisible/id394775318</a></li>
        <li>Complex request: <a href="{{ request.host_url }}api/get?url=https://itunes.apple.com/us/podcast/99-invisible/id394775318&frequency=custom_days&custom_day_mon=y&custom_day_tue=y&custom_day_sun=y&start_date=2018-07-01&start_date_timezone=Europe/Paris&option_limit=1&option_order=desc&option_format=feed_atom">{{ request.host }}/api/get?url=https://itunes.apple.com/us/podcast/99-invisible/id394775318&frequency=custom_days&custom_day_mon=y&custom_day_tue=y&custom_day_sun=y&start_date=2018-07-01&start_date_timezone=Europe/Paris&option_limit=1&option_order=desc&option_format=feed_atom</a></li>
    </ul>

    <h3>POST</h3>
    <p>The API endpoint is <a href="{{ request.host_url }}api/post">{{ request.host }}/api/post</a>. You have to transmit the request in JSON format, as <code>application/json</code>. The arguments are pretty much the same as in the GET method.</p>

    <p>Here is a sample JSON for a POST request, all these values are defaults:</p>

    <pre><code>{
  "url": &lt;your url&gt;,
  "frequency": "custom_days",
  "custom_day_mon": false,
  "custom_day_tue": false,
  "custom_day_wed": false,
  "custom_day_thu": false,
  "custom_day_fri": false,
  "custom_day_sat": false,
  "custom_day_sun": false,
  "start_date" : &lt;today&gt;,
  "start_date_timezone" : "Etc/UTC",
  "option_limit": 1,
  "option_order": "asc",
  "option_format": "feed_rss"
}
</code></pre>

    <h3>Response</h3>

    <p>The API response to a well-formed request will be a JSON object containing the feed ID and the URL.</p>

    <pre><code>{
  "feed_id": 16,
  "url": "{{ request.host_url }}16/mon-tue-sun/20180708+0000"
}</code></pre>

    <p>With the feed ID you can build your own feed URLs, if you follow the right frequency, start date and options arguments.</p>
</div>
{% endblock %}
