{% extends 'layout.html' %}

{% block title %}Dons{% endblock %}

{% block content %}
<div class="content">
    <h2 class="is-size-4 title">Comment donner ?</h2>

    <p class="is-size-5">Si Cast Rewinder t’aide à tel point que tu désires donner pour aider dans les coûts liés au développement et à l’hébergement, j’apprécie infiniment ce geste.</p>

    <p class=""><a href="https://github.com/joachimesque/Cast-Rewinder">Cast rewinder</a> et <a href="{{ request.host_url }}">{{ request.host }}</a> ne me coûtent pas beaucoup (més dépenses concernent juste l’hébergement et le nom de domaine), mais je suis convaincu que rémunérer les développeurs de Logiciel Libre / Open Source à la hauteur de leur travail est la base sur laquelle ces projets peuvent exister. Cast Rewinder a été bâti à l’aide de plusieurs outils, comme <a href="https://www.python.org/psf/donations/">Python</a> (le langage de programmation), <a href="https://www.postgresql.org/about/donate/">PostgreSQL</a> (la base de donnée), <a href="https://psfmember.org/civicrm/contribute/transact?reset=1&id=20">Pallets</a> (Flask et Jinja m’ont aidé à faire le site) ou <a href="https://bulma.io/more/">Bulma</a> (pour le design). Faire des dons à ces projets Open Source contribuera directement à l’amélioration de Cast Rewinder.</p>

    <p class="">En plus de ça, comme mes dépenses pour ce projet ne sont pas conséquentes, je t’invite à considérer un don à <a href="https://www.givedirectly.org/">GiveDirectly</a> ou à la campagne <a href="https://www.evidenceaction.org/dispensersforsafewater/">Dispensers for Safe Waters</a> de Evidence Action ; ces projets permettent d’aider des familles pauvres de pays en voie de développement en leur donnant directement de l’argent pour la première, ou en leur facilitant l’accès à de l’eau potable pour la seconde. Ces deux ONG sont très bien notées par <a href="http://givewell.org/">Givewell.org</a> qui évalue l’efficacité des projets humanitaires.<br>
    Je recommande aussi les ONG <a href="http://water.org/">Water.org</a> et <a href="http://trees.org/">Trees for the Future</a> pour favoriser l’accès à l’eau ou la plantation d’arbres dans des zones déboisées, toutes deux sont bien notées sur le site Charity Navigator.</p>

    <p class="">Si tu veux aussi donner au projet Cast Rewinder/{{ request.host }}, voilà <a href="https://www.paypal.me/joachimrobert">ma page PayPal</a>.</p>

    <p class=""><strong>Tu ne peux pas faire de don ?</strong> <a href="https://saythanks.io/to/joachimesque">Dis merci !</a></p>
</div>
{% endblock %}


 


