          <div class="content">
            <p>
              Ce site fonctionne grâce à l’application web <strong><a href="https://github.com/joachimesque/Cast-Rewinder">Cast Rewinder</a></strong> par <a href="https://github.com/joachimesque/">Joachim Robert</a>, <a href="https://saythanks.io/to/joachimesque">dites merci !</a>.<br>
              <small>Le code source est distribué sous licence <a href="https://choosealicense.com/licenses/agpl-3.0/">AGPLv3</a>, sauf mention contraire.<br>
              Les données (des flux de podcasts) qui sont collectées, hébergées et transmises par ce site web appartiennent à leurs propriétaires originaux. Les auteurs du site ne revendiquent la possession d’aucun flux RSS, ni de leurs contenus.<br>
              Ce site web ne collecte aucune donnée personnelle qui vous concerne, ou qui concerne vos proches. Vous devriez vous méfier de ceux qui le font.</small>
            </p>
            <p class="is-size-7">{{ g.feed_count }} podcasts actuellement suivis. Page générée en {{ g.request_time() }} à partir du commit:<a href="https://github.com/joachimesque/Cast-Rewinder/commit/{{ g.git_id }}">{{ g.git_id|truncate(7,True,'',0) }}</a></p>
          </div>
