{% extends 'layout.html' %}

{% block title %}{{ _('Subscribe to a podcast from the beginning') }}{% endblock %}

{% block content %}

  {% include 'partials/index_content.' + g.locale + '.html' %}
  {% include 'partials/form.html' %}

{% endblock %}


{% block js_code %}
<script src="{{ url_for('static', filename='js/jstz.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/clipboard.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
(function(){
  "use strict";

  var select = document.querySelector('#frequency select');
  var custom_days_section = document.querySelector('#custom_days_form_section');

  if (select.options[select.selectedIndex].value == "custom_days") {
    custom_days_section.classList.add('is-visible')
  }

  select.addEventListener("input", function(e) {
    if (select.options[select.selectedIndex].value == "custom_days") {
      custom_days_section.classList.add('is-visible')
    } else {
      custom_days_section.classList.remove('is-visible')
    }
  });

  document.querySelector('a[href="#show-options"]').addEventListener("click", function(e) {
    e.preventDefault();
    document.querySelector('#show-options').classList.toggle('is-visible');
  });

  var detectedZone = jstz.determine().name();

  var timezoneSelect = document.querySelectorAll('select[name="start_date_timezone"] option')
  if (!document.querySelector('select[name="start_date_timezone"] option[selected]')) {
    timezoneSelect.forEach(function(el) {
      var optionName = el.value;
      if (detectedZone === optionName) {
        el.selected = 'selected';
      }
    });
  }

  function isJson(str) {
    try {
      JSON.parse(str);
    } catch (e) {
      return false;
    }
    return true;
  }


})();
</script>
{% endblock %}
