<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>{% block title %}{% endblock %} - {{ config['WEBSITE_NAME'] }}</title>

</head>
<body class="template-{{ request.url_rule.endpoint }}">
  <!-- <nav class="navbar" id="top">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('index') }}">
        <p class="is-size-3"><strong><span role="img" aria-label="Rewind">⏮</span> Cast Rewinder</strong></p>
      </a>
      <div class="navbar-burger burger" data-target="menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

  </nav> -->

  <header class="header section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          {% block header %}{% endblock %}
        </div>
      </div>
    </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          <ul class=flashes>
          {% for message in messages %}
            <li class="notification is-danger"><strong>{{ message }}</strong></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
  {% endwith %}
  </header>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths">

          <div class="content">
            <p>
              This website runs the free web application <strong><a href="https://github.com/joachimesque/Cast-Rewinder">Cast Rewinder</a></strong> by <a href="https://github.com/joachimesque/">Joachim Robert</a>.<br>
              <small>The source code is licensed <a href="https://choosealicense.com/licenses/agpl-3.0/">AGPLv3</a>, unless otherwise mentioned.<br>
              The data (as in podcast feeds) that is collected, mirrored and transmitted by this website belong to its original owners. No RSS feed nor any feed content are claimed by the creators and maintainers of this website.<br>
              This website doesn’t collect personal data on you or your loved ones. You should be wary of those who do.<br>
              Rendered in {{ g.request_time() }} from <a href="https://github.com/joachimesque/Cast-Rewinder/commit/{{ g.git_id }}">{{ g.git_id|truncate(8) }}</a></small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  {% block js_code %}{% endblock %}

</body>
</html>



