<!DOCTYPE html>
<html lang="{{ g.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ request.host }} {{ _('runs Cast Rewinder, which allows you to subscribe to a podcast from the beginning.')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>{% block title %}{% endblock %} - {{ config['WEBSITE_NAME'] }}</title>

</head>
<body class="template-{{ request.url_rule.endpoint }}">
  <header class="header section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          <h1 class="title is-size-2">{% block header %}{{ config['WEBSITE_NAME'] }}{% endblock %}</h1>
          <div class="level subtitle">
            <p class="level-left is-size-4 menu">
              {% for page in [('index',_('Home')),('about',_('About')),('help',_('Help')),('about_api',_('API')),('donate',_('Donate'))] %}
              <a href="{{ url_for(page[0]) }}" {%- if request.path == url_for(page[0]) %} class="active"{% endif %}>{{ page[1] }}</a>
              {% endfor %}
            </p>
            <p class="level-right is-size-7 menu">
              {% for lang in config['LANGUAGES'] %}
              <a href="?lang={{ lang }}" {%- if g.locale == lang %} class="active"{% endif %}>{{ config['LANGUAGES'][lang] }}</a>
              {% endfor %}
            </p></div>
        </div>
      </div>
    </div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          <ul class=flashes>
          {% for message in messages %}
            <li class="notification is-danger"><strong>{{ message }}</strong></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
  {% endwith %}
  </header>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          {% include 'footer.' + g.locale + '.html' %}
        </div>
      </div>
    </div>
  </footer>

  {% block js_code %}{% endblock %}

</body>
</html>



