<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hello</title>
    </head>
    <body>
        <form action="" method="post">
            <label>URL {{ form.url }}</label>

<!-- Multiple Radios -->
<div class="form-group" id="frequency">
  <div class="radio">
    <label for="radio_daily">
      <input name="radios" id="radio_daily" value="daily" checked="checked" type="radio">
      daily
    </label>
  </div>
  <div class="radio">
    <label for="radio_weekly">
      <input name="radios" id="radio_weekly" value="weekly" type="radio">
      weekly
    </label>
  </div>
  <div class="radio">
    <label for="radio_monthly">
      <input name="radios" id="radio_monthly" value="monthly" type="radio">
      monthly
    </label>
  </div>
  <div class="radio">
    <label for="radio_weekdays">
      <input name="radios" id="radio_weekdays" value="weekdays" type="radio">
      specific weekdays:
    </label>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group invisible" id="weekdays_form_section">
    <label class="checkbox-inline" for="checkboxes-0">
      <input name="checkboxes_mon" id="checkboxes-0" value="1" type="checkbox">
      monday
    </label>
    <label class="checkbox-inline" for="checkboxes-1">
      <input name="checkboxes_tue" id="checkboxes-1" value="1" type="checkbox">
      tuesday
    </label>
    <label class="checkbox-inline" for="checkboxes-2">
      <input name="checkboxes_wed" id="checkboxes-2" value="1" type="checkbox">
      wednesday
    </label>
    <label class="checkbox-inline" for="checkboxes-3">
      <input name="checkboxes_thu" id="checkboxes-3" value="1" type="checkbox">
      thursday
    </label>
    <label class="checkbox-inline" for="checkboxes-4">
      <input name="checkboxes_fri" id="checkboxes-4" value="1" type="checkbox">
      friday
    </label>
    <label class="checkbox-inline" for="checkboxes-5">
      <input name="checkboxes_sat" id="checkboxes-5" value="1" type="checkbox">
      saturday
    </label>
    <label class="checkbox-inline" for="checkboxes-6">
      <input name="checkboxes_sun" id="checkboxes-6" value="1" type="checkbox">
      sunday
    </label>
</div>

            <input type="submit" value="Go">
        </form>
    </body>

<style type="text/css" media="screen">
    .invisible {
        display: none;
    }
</style>
<script type="text/javascript" charset="utf-8">
(function(){
    "use strict";

    var radio_buttons    = document.querySelectorAll('#frequency input[type="radio"]');
    var weekdays_section = document.querySelector('#weekdays_form_section');


    [].forEach.call(radio_buttons, function(element) {
        element.addEventListener("input", function(e) {
            if (e.currentTarget.value == "weekdays") {
                weekdays_section.classList.remove('invisible')
            } else {
                weekdays_section.classList.add('invisible')
            }
        });
    });
})()

</script>


</html>